<div class="container mt-5">

  <h1 class="mb-4 text-center">

    Secure Warehouse Dashboard

  </h1>

  <!-- ROLE DISPLAY -->

  <div class="alert alert-info">

    Logged in as:

    <strong>{{ role }}</strong>

  </div>

  <!-- ADMIN CONTROLS -->

  <div *ngIf="role === 'ADMIN'">

    <div class="card p-4 mb-4 border-danger">

      <h2 class="text-danger">

        Admin Controls

      </h2>

      <p>

        Full system access enabled.

      </p>

    </div>

  </div>

  <!-- MENU BUTTONS -->

  <div class="d-flex flex-wrap gap-3">

    <!-- PRODUCTS -->

    <a

      *ngIf="
        role === 'ADMIN' ||
        role === 'SELLER'
      "

      routerLink="/products"

      class="btn btn-primary btn-lg">

      Products

    </a>

    <!-- ORDERS -->

    <a

      *ngIf="
        role === 'ADMIN' ||
        role === 'BUYER'
      "

      routerLink="/orders"

      class="btn btn-info btn-lg">

      Orders

    </a>

    <!-- WAREHOUSE -->

    <a

      *ngIf="
        role === 'ADMIN'
      "

      routerLink="/warehouse"

      class="btn btn-warning btn-lg">

      Warehouse

    </a>

    <!-- TRACKING -->

    <a

      *ngIf="
        role === 'ADMIN'
      "

      routerLink="/tracking"

      class="btn btn-dark btn-lg">

      Shipment Tracking

    </a>

    <!-- LOGOUT -->

    <button

      class="btn btn-danger btn-lg"

      (click)="logout()">

      Logout

    </button>

  </div>

</div>