<div class="login-container">

  <div class="login-card glass-card">

    <!-- TITLE -->

    <h1>Secure Warehouse System</h1>

    <p class="subtitle">
      Secure Product Tracking Platform
    </p>

    <!-- LOGIN FORM -->

    <form (ngSubmit)="login()">

      <!-- EMAIL -->

      <div class="mb-3">

        <label>Email</label>

        <input
          type="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          required>

      </div>

      <!-- PASSWORD -->

      <div class="mb-3">

        <label>Password</label>

        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
          required>

      </div>

      <!-- BUTTON -->

      <button class="btn btn-dark w-100">

        Secure Login

      </button>

    </form>

    <!-- REGISTER LINK -->

    <div class="register-link">

      <a
        routerLink="/register"
        class="link-primary">

        Create a new account

      </a>

    </div>

    <!-- ROLES -->

    <div class="roles-section">

      <h5>System Roles</h5>

      <div class="role-card admin">

        ADMIN → Full Access

      </div>

      <div class="role-card seller">

        SELLER → Product Management

      </div>

      <div class="role-card buyer">

        BUYER → Orders & Tracking

      </div>

    </div>

  </div>

</div>