<div class="login-container">

  <div class="login-card">

    <h1>Create Account</h1>

    <p class="subtitle">
      Register for Secure Warehouse Access
    </p>

    <form (ngSubmit)="register()">

      <div class="mb-3">

        <label>Username</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="username"
          name="username"
          required>

      </div>

      <div class="mb-3">

        <label>Password</label>

        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
          required>

      </div>

      <div class="mb-3">

        <label>Role</label>

        <select
          class="form-select"
          [(ngModel)]="role"
          name="role">

          <option value="BUYER">BUYER</option>
          <option value="SELLER">SELLER</option>
          <option value="ADMIN">ADMIN</option>

        </select>

      </div>

      <button class="btn btn-success w-100">

        Register

      </button>

    </form>

    <div class="text-center mt-3">
      <a routerLink="/" class="link-primary">
        Back to login
      </a>
    </div>

  </div>

</div>
